@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>


<style>
table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
    font-size: 10pt;
    color: #212121;
}
th, td {
    padding: 5px;
}

</style>
</head>
<body>
<script>

$(function(){
    $.getJSON('/api/bank', function(options) {
var select = document.getElementById('banklist');
for(var i=0;i<options.length;i++)
{
var json=options[i];
var obj=json['name'];
var el=document.createElement('option');
el.textContent=obj;
el.value=obj;
select.appendChild(el);
}


});
});

// function leaveChange(dropdown) {
//     var value = dropdown.options[dropdown.selectedIndex].value;
// var myjson;
// var dropurl="/api/bank/"+value+"/city";
// $.getJSON(dropurl, function(json){

// var myjson = $.map(json, function(i){
// return {
// label: i.city,
// value: i.city
// };


// });

// });
// }


  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
$( "#city" ).autocomplete({
   delay: 200,
      source: function( request, response ) {
        var select = document.getElementById("banklist");
        var value = select.options[select.selectedIndex].value;
$.ajax({
          url: "/api/bank/"+value+"/city",
          dataType: "json",
          data: {
            starts_with: request.term
          },
          success: function( data ) {
console.log(JSON.stringify(data));

   response($.map(data, function(i) {
           console.log(i.city);

                                return {
                                    label : i.city,
                                    value : i.city
                                }
                            }));        }
        });
      },
      minLength: 3,
       select: function(event,ui)
   {
            var select = document.getElementById("banklist");
        var value = select.options[select.selectedIndex].value;
    var city=ui.item.value;
    var url="/api/bank/"+value+"/city/"+city+"/branch";
    $.getJSON(url, function(options) {
console.log(JSON.stringify(options));

$(options).each(function(index, item) {

        $("body").append("<div><table border='1'  style='width:400px'><tr bgcolor='#536DFE'><td> IFSC : "+item['ifsc']+
            "</td></tr><tr><td> BANK : "+item['bank_name']+
            "</td></tr><tr><td> BRANCH : "+item['branch']+
            "</td></tr><tr><td> CITY : "+item['city']+
            "</td></tr></table><br/></div>");


});



});

   },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
});




 // $( "#city" ).autocomplete({
 //      source: function( request, response ) {
 //        var select = document.getElementById("banklist");
 //        var value = select.options[select.selectedIndex].value;
 //        $.ajax({
 //          url: "/api/bank/"+value+"city",
 //          dataType: "jsonp",
 //          data: {
 //            starts_with: request.term
 //          },
 //          success: function( data ) {
 //            response( data );
 //          }
 //        });
 //      },
 //      minLength: 3,
 //      select: function( event, ui ) {
 //        log( ui.item ?
 //          "Selected: " + ui.item.label :
 //          "Nothing selected, input was " + this.value);
 //      },
 //      open: function() {
 //        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
 //      },
 //      close: function() {
 //        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
 //      }
 //    });

</script>

<!-- <select id="banklist" onchange="leaveChange(this)">
 -->    
<select id="banklist">
<option>Choose a bank</option>
</select>
<!-- City <input id="cityNames" type="text" placeholder="Cities for the bank" name="code">
 -->
<input id="city" type="text" placeholder="Cities for the bank" name="code">
 <br/><br/><br/><br/><br/>
</body>
</html>
